
#Navbarrr {
    padding-left: 30px;
    padding-right: 50px;
    /* background-color: #96BAFF; */
    position: relative;
}


.navbar {
    font-size: 1em;
    font-family: 'ABeeZee', sans-serif;
    position: relative;
}

.navbar.sticky {
  padding: 15px 0;
  background: white;
}


.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



#nb {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.nav-item {
    padding-right: 15px;
}



/* Background */

.fh5co-cover,
.fh5co-hero {
  position: relative;
  height: 800px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover,
  .fh5co-hero {
    height: 700px;
  }
}
.fh5co-cover.fh5co-hero {
  height: 600px;
}
.fh5co-cover.fh5co-overlay,
.fh5co-hero.fh5co-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}

.fh5co-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(66, 64, 64, 0.9);
  background: rgba(0, 0, 0, 0.2);
}

.fh5co-cover {
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 768px) {
  .fh5co-cover {
    height: inherit;
    padding: 3em 0;
  }
}
.fh5co-cover .btn {
  padding: 1em 2em;
  opacity: .9;
}
.fh5co-cover.fh5co-cover_2 {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover {
    height: inherit;
    padding: 3em 0;
  }
}
.fh5co-cover .desc {
  top: 50%;
  position: absolute;
  width: 100%;
  margin-top: -80px;
  z-index: 2;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .desc {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.fh5co-cover .desc h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 10px;
  font-weight: 300 !important;
}
.fh5co-cover .desc h2 strong {
  font-weight: 700;
}


/* TIMELINE STYLE START */
.Yearly-timeline {
    font-family: 'Poppins', sans-serif;
}

.Yearly-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.Yearly-timeline .timeline {
    width: calc(50% + 17px);
    padding: 0 30px 30px 0;
    float: left;
    position: relative;
}

.Yearly-timeline .timeline:before,
.Yearly-timeline .timeline:after {
    content: '';
    height: 60px;
    width: 2px;
    border-left: 2px solid #70d6ff;
    transform: rotate(-45deg);
    position: absolute;
    right: 30px;
    bottom: 0;
}

.Yearly-timeline .timeline:after {
    background-color: #fff;
    height: 20px;
    width: 20px;
    border: 6px solid #70d6ff;
    border-radius: 50%;
    right: 0;
}

.Yearly-timeline .timeline-content {
    color: #555;
    background: #70d6ff;
    text-align: center;
    min-height: 170px;
    padding: 30px 35px 35px;
    border-radius: 15px 15px 0 15px;
    display: block;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.Yearly-timeline .timeline-content:before {
    content: '';
    background-color: #fff;
    position: absolute;
    left: 17px;
    right: 17px;
    top: 17px;
    bottom: 17px;
    z-index: -1;
}

.Yearly-timeline .timeline-content:hover {
    text-decoration: none;
}

.Yearly-timeline .timeline-icon {
    color: #777;
    font-size: 35px;
}

.Yearly-timeline .title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 8px;
}

.Yearly-timeline .description {
    color: #777;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin: 0;
}

.Yearly-timeline .timeline:nth-child(even) {
    padding: 0 0 30px 30px;
    float: right;
}

.Yearly-timeline .timeline:nth-child(even):before {
    transform: rotate(45deg);
    right: auto;
    left: 30px;
}

.Yearly-timeline .timeline:nth-child(even):after {
    right: auto;
    left: 0;
}

.Yearly-timeline .timeline:nth-child(even) .timeline-content {
    border-radius: 15px 15px 15px 0;
}

.Yearly-timeline .timeline:nth-child(4n+2):before,
.Yearly-timeline .timeline:nth-child(4n+2):after {
    border-color: #ff70a6;
}

.Yearly-timeline .timeline:nth-child(4n+2) .timeline-content {
    background: #ff70a6;
}

.Yearly-timeline .timeline:nth-child(4n+3):before,
.Yearly-timeline .timeline:nth-child(4n+3):after {
    border-color: #ff9770;
}

.Yearly-timeline .timeline:nth-child(4n+3) .timeline-content {
    background: #ff9770;
}

.Yearly-timeline .timeline:nth-child(4n+4):before,
.Yearly-timeline .timeline:nth-child(4n+4):after {
    border-color: #ffd670;
}

.Yearly-timeline .timeline:nth-child(4n+4) .timeline-content {
    background: #ffd670;
}

@media screen and (max-width:767px) {
    .Yearly-timeline .timeline {
        width: 100%;
        padding: 30px 0 0 30px;
        margin: 0 0 20px;
    }

    .Yearly-timeline .timeline:before,
    .Yearly-timeline .timeline:nth-child(even):before {
        transform: rotate(-45deg);
        bottom: auto;
        top: 0;
        right: auto;
        left: 30px;
    }

    .Yearly-timeline .timeline:after,
    .Yearly-timeline .timeline:nth-child(even):after {
        bottom: auto;
        top: 0;
        right: auto;
        left: 0;
    }

    .Yearly-timeline .timeline-content,
    .Yearly-timeline .timeline:nth-child(even) .timeline-content {
        border-radius: 0 15px 15px 15px;
    }
}



/* Footer Links */
#footer {
  background: #008dc9;;
  padding: 60px 0 40px;
  padding-left: 450px;
}
#footer p {
  color: white;
  font-size: 14px;
}
#footer p a {
  color: rgba(255, 255, 255, 0.5);
}
#footer p a:hover, #footer p a:active, #footer p a:focus {
  color: rgba(255, 255, 255, 0.9) !important;
}


.fh5co-social-icons > a {
  padding: 4px 10px;
  color: #ff5722;
}
.fh5co-social-icons > a i {
  font-size: 26px;
}
.fh5co-social-icons > a:hover, .fh5co-social-icons > a:focus, .fh5co-social-icons > a:active {
  text-decoration: none;
  color: #5a5a5a;
}


/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #7ED957;
}

::-webkit-scrollbar-thumb:hover {
  background: #7ED957;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #7ED957;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}
